[submodule "Configurations"]
	path = Configurations
	url = https://github.com/OmegaLambda1998/Configurations
[submodule "Lazuli"]
	path = Lazuli
	url = https://github.com/OmegaLambda1998/Lazuli
[submodule "Pengolodh"]
	path = Pengolodh
	url = https://github.com/OmegaLambda1998/Pengolodh
[submodule "SCP"]
	path = SCP
	url = https://github.com/OmegaLambda1998/SCP
[submodule "AstroCloud"]
	path = AstroCloud
	url = https://github.com/OmegaLambda1998/AstroCloud
