[submodule "Configurations"]
	path = Configurations
        url = git@github.com:OmegaLambda1998/Configurations.git
[submodule "Lazuli"]
	path = Lazuli
        url = git@github.com:OmegaLambda1998/Lazuli.git
[submodule "Pengolodh"]
	path = Pengolodh
        url = git@github.com:OmegaLambda1998/Pengolodh.git
[submodule "SCP"]
	path = SCP
        url = git@github.com:OmegaLambda1998/SCP.git
[submodule "AstroCloud"]
	path = AstroCloud
        url = git@github.com:OmegaLambda1998/AstroCloud.git
